In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('D:/accident_severity_analytics/data/raw/Motor_Vehicle_Crashes.csv')
df

C:\Users\Amer\AppData\Local\Temp\ipykernel_13020\1929252996.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('D:/accident_severity_analytics/data/raw/Motor_Vehicle_Crashes.csv')

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,09/11/2021,2:39,NaN,NaN,NaN,NaN,NaN,WHITESTONE EXPRESSWAY,20 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4455765,Sedan,Sedan,NaN,NaN,NaN
1,03/26/2022,11:45,NaN,NaN,NaN,NaN,NaN,QUEENSBORO BRIDGE UPPER,NaN,NaN,...,NaN,NaN,NaN,NaN,4513547,Sedan,NaN,NaN,NaN,NaN
2,06/29/2022,6:55,NaN,NaN,NaN,NaN,NaN,THROGS NECK BRIDGE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4541903,Sedan,Pick-up Truck,NaN,NaN,NaN
3,09/11/2021,9:35,BROOKLYN,11208.0,40.667202,-73.866500,"(40.667202, -73.8665)",NaN,NaN,1211 LORING AVENUE,...,NaN,NaN,NaN,NaN,4456314,Sedan,NaN,NaN,NaN,NaN
4,12/14/2021,8:13,BROOKLYN,11233.0,40.683304,-73.917274,"(40.683304, -73.917274)",SARATOGA AVENUE,DECATUR STREET,NaN,...,NaN,NaN,NaN,NaN,4486609,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2076247,03/25/2024,18:44,NaN,NaN,40.740784,-73.815000,"(40.740784, -73.815)",59 AVENUE,NaN,NaN,...,NaN,NaN,NaN,NaN,4712462,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
2076248,03/25/2024,17:50,BROOKLYN,11212.0,40.658497,-73.904000,"(40.658497, -73.904)",STONE AVENUE,LOTT AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4712873,Pick-up Truck,Sedan,NaN,NaN,NaN
2076249,03/18/2024,18:30,QUEENS,11102.0,40.772266,-73.927190,"(40.772266, -73.92719)",NaN,NaN,18-17 ASTORIA BOULEVARD,...,NaN,NaN,NaN,NaN,4712882,Sedan,NaN,NaN,NaN,NaN
2076250,03/25/2024,9:45,BROOKLYN,11207.0,40.682655,-73.910034,"(40.682655, -73.910034)",CHAUNCEY STREET,BROADWAY,NaN,...,Passing Too Closely,NaN,NaN,NaN,4712899,Sedan,Chassis Cab,NaN,NaN,NaN
2076251,03/25/2024,10:00,BROOKLYN,11224.0,40.578136,-73.981780,"(40.578136, -73.98178)",NaN,NaN,2846 STILLWELL AVENUE,...,Unspecified,NaN,NaN,NaN,4712493,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN

In [3]:
df.head()

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,09/11/2021,2:39,NaN,NaN,NaN,NaN,NaN,WHITESTONE EXPRESSWAY,20 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4455765,Sedan,Sedan,NaN,NaN,NaN
1,03/26/2022,11:45,NaN,NaN,NaN,NaN,NaN,QUEENSBORO BRIDGE UPPER,NaN,NaN,...,NaN,NaN,NaN,NaN,4513547,Sedan,NaN,NaN,NaN,NaN
2,06/29/2022,6:55,NaN,NaN,NaN,NaN,NaN,THROGS NECK BRIDGE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4541903,Sedan,Pick-up Truck,NaN,NaN,NaN
3,09/11/2021,9:35,BROOKLYN,11208.0,40.667202,-73.866500,"(40.667202, -73.8665)",NaN,NaN,1211 LORING AVENUE,...,NaN,NaN,NaN,NaN,4456314,Sedan,NaN,NaN,NaN,NaN
4,12/14/2021,8:13,BROOKLYN,11233.0,40.683304,-73.917274,"(40.683304, -73.917274)",SARATOGA AVENUE,DECATUR STREET,NaN,...,NaN,NaN,NaN,NaN,4486609,NaN,NaN,NaN,NaN,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2076252 entries, 0 to 2076251
Data columns (total 29 columns):
 #   Column                         Dtype
---  ------                         -----
 0   CRASH DATE                     object
 1   CRASH TIME                     object
 2   BOROUGH                        object
 3   ZIP CODE                       object
 4   LATITUDE                       float64
 5   LONGITUDE                      float64
 6   LOCATION                       object
 7   ON STREET NAME                 object
 8   CROSS STREET NAME              object
 9   OFF STREET NAME                object
 10  NUMBER OF PERSONS INJURED      float64
 11  NUMBER OF PERSONS KILLED       float64
 12  NUMBER OF PEDESTRIANS INJURED  int64
 13  NUMBER OF PEDESTRIANS KILLED   int64
 14  NUMBER OF CYCLIST INJURED      int64
 15  NUMBER OF CYCLIST KILLED       int64
 16  NUMBER OF MOTORIST INJURED     int64
 17  NUMBER OF MOTORIST KILLED      int64
 18  CONTRIBUTING FACTOR VEHICLE 1  object
 19  CONTRIBUTING FACTOR VEHICLE 2  object
 20  CONTRIBUTING FACTOR VEHICLE 3  object
 21  CONTRIBUTING FACTOR VEHICLE 4  object
 22  CONTRIBUTING FACTOR VEHICLE 5  object
 23  COLLISION_ID                   int64
 24  VEHICLE TYPE CODE 1            object
 25  VEHICLE TYPE CODE 2            object
 26  VEHICLE TYPE CODE 3            object
 27  VEHICLE TYPE CODE 4            object
 28  VEHICLE TYPE CODE 5            object
dtypes: float64(4), int64(7), object(18)
memory usage: 459.4+ MB

In [5]:
df.isnull().sum()

CRASH DATE                             0
CRASH TIME                             0
BOROUGH                           646011
ZIP CODE                          646261
LATITUDE                          233688
LONGITUDE                         233688
LOCATION                          233688
ON STREET NAME                    440794
CROSS STREET NAME                 784860
OFF STREET NAME                  1727831
NUMBER OF PERSONS INJURED             18
NUMBER OF PERSONS KILLED              31
NUMBER OF PEDESTRIANS INJURED          0
NUMBER OF PEDESTRIANS KILLED           0
NUMBER OF CYCLIST INJURED              0
NUMBER OF CYCLIST KILLED               0
NUMBER OF MOTORIST INJURED             0
NUMBER OF MOTORIST KILLED              0
CONTRIBUTING FACTOR VEHICLE 1       6809
CONTRIBUTING FACTOR VEHICLE 2     321936
CONTRIBUTING FACTOR VEHICLE 3    1927903
CONTRIBUTING FACTOR VEHICLE 4    2042754
CONTRIBUTING FACTOR VEHICLE 5    2067177
COLLISION_ID                           0
VEHICLE TYPE CODE 1                13708
VEHICLE TYPE CODE 2               396982
VEHICLE TYPE CODE 3              1933279
VEHICLE TYPE CODE 4              2043918
VEHICLE TYPE CODE 5              2067455
dtype: int64

In [6]:
df.drop('LOCATION',axis=1,inplace=True)
df.drop('OFF STREET NAME',axis=1,inplace=True)
df.drop('CONTRIBUTING FACTOR VEHICLE 3',axis=1,inplace=True)
df.drop('CONTRIBUTING FACTOR VEHICLE 4',axis=1,inplace=True)
df.drop('CONTRIBUTING FACTOR VEHICLE 5',axis=1,inplace=True)
df.drop('VEHICLE TYPE CODE 3',axis=1,inplace=True)
df.drop('VEHICLE TYPE CODE 4',axis=1,inplace=True)
df.drop('VEHICLE TYPE CODE 5',axis=1,inplace=True)

In [7]:
df.isnull().sum()

CRASH DATE                            0
CRASH TIME                            0
BOROUGH                          646011
ZIP CODE                         646261
LATITUDE                         233688
LONGITUDE                        233688
ON STREET NAME                   440794
CROSS STREET NAME                784860
NUMBER OF PERSONS INJURED            18
NUMBER OF PERSONS KILLED             31
NUMBER OF PEDESTRIANS INJURED         0
NUMBER OF PEDESTRIANS KILLED          0
NUMBER OF CYCLIST INJURED             0
NUMBER OF CYCLIST KILLED              0
NUMBER OF MOTORIST INJURED            0
NUMBER OF MOTORIST KILLED             0
CONTRIBUTING FACTOR VEHICLE 1      6809
CONTRIBUTING FACTOR VEHICLE 2    321936
COLLISION_ID                          0
VEHICLE TYPE CODE 1               13708
VEHICLE TYPE CODE 2              396982
dtype: int64

In [8]:
df.dropna(subset=['CROSS STREET NAME'], inplace=True)

In [9]:
df.isnull().sum()

CRASH DATE                            0
CRASH TIME                            0
BOROUGH                          175627
ZIP CODE                         175784
LATITUDE                         141096
LONGITUDE                        141096
ON STREET NAME                      346
CROSS STREET NAME                     0
NUMBER OF PERSONS INJURED             5
NUMBER OF PERSONS KILLED             11
NUMBER OF PEDESTRIANS INJURED         0
NUMBER OF PEDESTRIANS KILLED          0
NUMBER OF CYCLIST INJURED             0
NUMBER OF CYCLIST KILLED              0
NUMBER OF MOTORIST INJURED            0
NUMBER OF MOTORIST KILLED             0
CONTRIBUTING FACTOR VEHICLE 1      4402
CONTRIBUTING FACTOR VEHICLE 2    184495
COLLISION_ID                          0
VEHICLE TYPE CODE 1                8130
VEHICLE TYPE CODE 2              208852
dtype: int64

In [10]:
df.dropna(subset=['BOROUGH'], inplace=True)

In [11]:
df.isnull().sum()

CRASH DATE                            0
CRASH TIME                            0
BOROUGH                               0
ZIP CODE                            157
LATITUDE                          30299
LONGITUDE                         30299
ON STREET NAME                        0
CROSS STREET NAME                     0
NUMBER OF PERSONS INJURED             5
NUMBER OF PERSONS KILLED              9
NUMBER OF PEDESTRIANS INJURED         0
NUMBER OF PEDESTRIANS KILLED          0
NUMBER OF CYCLIST INJURED             0
NUMBER OF CYCLIST KILLED              0
NUMBER OF MOTORIST INJURED            0
NUMBER OF MOTORIST KILLED             0
CONTRIBUTING FACTOR VEHICLE 1      3878
CONTRIBUTING FACTOR VEHICLE 2    161587
COLLISION_ID                          0
VEHICLE TYPE CODE 1                7144
VEHICLE TYPE CODE 2              181851
dtype: int64

In [12]:
df.dropna(subset=['LATITUDE'], inplace=True)

In [13]:
df.isnull().sum()

CRASH DATE                            0
CRASH TIME                            0
BOROUGH                               0
ZIP CODE                            151
LATITUDE                              0
LONGITUDE                             0
ON STREET NAME                        0
CROSS STREET NAME                     0
NUMBER OF PERSONS INJURED             5
NUMBER OF PERSONS KILLED              9
NUMBER OF PEDESTRIANS INJURED         0
NUMBER OF PEDESTRIANS KILLED          0
NUMBER OF CYCLIST INJURED             0
NUMBER OF CYCLIST KILLED              0
NUMBER OF MOTORIST INJURED            0
NUMBER OF MOTORIST KILLED             0
CONTRIBUTING FACTOR VEHICLE 1      3749
CONTRIBUTING FACTOR VEHICLE 2    157191
COLLISION_ID                          0
VEHICLE TYPE CODE 1                6655
VEHICLE TYPE CODE 2              175521
dtype: int64

In [14]:
df.dropna(subset=['CONTRIBUTING FACTOR VEHICLE 2'], inplace=True)

In [15]:
df.isnull().sum()

CRASH DATE                           0
CRASH TIME                           0
BOROUGH                              0
ZIP CODE                           135
LATITUDE                             0
LONGITUDE                            0
ON STREET NAME                       0
CROSS STREET NAME                    0
NUMBER OF PERSONS INJURED            1
NUMBER OF PERSONS KILLED             1
NUMBER OF PEDESTRIANS INJURED        0
NUMBER OF PEDESTRIANS KILLED         0
NUMBER OF CYCLIST INJURED            0
NUMBER OF CYCLIST KILLED             0
NUMBER OF MOTORIST INJURED           0
NUMBER OF MOTORIST KILLED            0
CONTRIBUTING FACTOR VEHICLE 1        0
CONTRIBUTING FACTOR VEHICLE 2        0
COLLISION_ID                         0
VEHICLE TYPE CODE 1               1181
VEHICLE TYPE CODE 2              36569
dtype: int64

In [16]:
df.dropna(subset=['VEHICLE TYPE CODE 2'], inplace=True)

In [17]:
df.isnull().sum()

CRASH DATE                         0
CRASH TIME                         0
BOROUGH                            0
ZIP CODE                         130
LATITUDE                           0
LONGITUDE                          0
ON STREET NAME                     0
CROSS STREET NAME                  0
NUMBER OF PERSONS INJURED          1
NUMBER OF PERSONS KILLED           1
NUMBER OF PEDESTRIANS INJURED      0
NUMBER OF PEDESTRIANS KILLED       0
NUMBER OF CYCLIST INJURED          0
NUMBER OF CYCLIST KILLED           0
NUMBER OF MOTORIST INJURED         0
NUMBER OF MOTORIST KILLED          0
CONTRIBUTING FACTOR VEHICLE 1      0
CONTRIBUTING FACTOR VEHICLE 2      0
COLLISION_ID                       0
VEHICLE TYPE CODE 1                2
VEHICLE TYPE CODE 2                0
dtype: int64

In [18]:
df['NUMBER OF PERSONS INJURED']=df['NUMBER OF PERSONS INJURED'].fillna(0)
df['NUMBER OF PERSONS KILLED']=df['NUMBER OF PERSONS KILLED'].fillna(0)
df['VEHICLE TYPE CODE 1']=df['VEHICLE TYPE CODE 1'].fillna('Missing')

In [19]:
df.isnull().sum()

CRASH DATE                         0
CRASH TIME                         0
BOROUGH                            0
ZIP CODE                         130
LATITUDE                           0
LONGITUDE                          0
ON STREET NAME                     0
CROSS STREET NAME                  0
NUMBER OF PERSONS INJURED          0
NUMBER OF PERSONS KILLED           0
NUMBER OF PEDESTRIANS INJURED      0
NUMBER OF PEDESTRIANS KILLED       0
NUMBER OF CYCLIST INJURED          0
NUMBER OF CYCLIST KILLED           0
NUMBER OF MOTORIST INJURED         0
NUMBER OF MOTORIST KILLED          0
CONTRIBUTING FACTOR VEHICLE 1      0
CONTRIBUTING FACTOR VEHICLE 2      0
COLLISION_ID                       0
VEHICLE TYPE CODE 1                0
VEHICLE TYPE CODE 2                0
dtype: int64

In [20]:
df.shape

(891706, 21)

In [21]:
df.columns=df.columns.str.lower()

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 891706 entries, 9 to 2076250
Data columns (total 21 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   crash date                     891706 non-null  object
 1   crash time                     891706 non-null  object
 2   borough                        891706 non-null  object
 3   zip code                       891576 non-null  object
 4   latitude                       891706 non-null  float64
 5   longitude                      891706 non-null  float64
 6   on street name                 891706 non-null  object
 7   cross street name              891706 non-null  object
 8   number of persons injured      891706 non-null  float64
 9   number of persons killed       891706 non-null  float64
 10  number of pedestrians injured  891706 non-null  int64
 11  number of pedestrians killed   891706 non-null  int64
 12  number of cyclist injured      891706 non-null  int64
 13  number of cyclist killed       891706 non-null  int64
 14  number of motorist injured     891706 non-null  int64
 15  number of motorist killed      891706 non-null  int64
 16  contributing factor vehicle 1  891706 non-null  object
 17  contributing factor vehicle 2  891706 non-null  object
 18  collision_id                   891706 non-null  int64
 19  vehicle type code 1            891706 non-null  object
 20  vehicle type code 2            891706 non-null  object
dtypes: float64(4), int64(7), object(10)
memory usage: 149.7+ MB

In [23]:
df['crash date'] = pd.to_datetime(df['crash date'])
df['crash time'] = pd.to_datetime(df['crash time'],format= '%H:%M')
df['zip code'] = df['zip code'].str.strip()
df['zip code'] = pd.to_numeric(df['zip code'], errors='coerce').astype(pd.Int64Dtype())

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 891706 entries, 9 to 2076250
Data columns (total 21 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   crash date                     891706 non-null  datetime64[ns]
 1   crash time                     891706 non-null  datetime64[ns]
 2   borough                        891706 non-null  object
 3   zip code                       342973 non-null  Int64
 4   latitude                       891706 non-null  float64
 5   longitude                      891706 non-null  float64
 6   on street name                 891706 non-null  object
 7   cross street name              891706 non-null  object
 8   number of persons injured      891706 non-null  float64
 9   number of persons killed       891706 non-null  float64
 10  number of pedestrians injured  891706 non-null  int64
 11  number of pedestrians killed   891706 non-null  int64
 12  number of cyclist injured      891706 non-null  int64
 13  number of cyclist killed       891706 non-null  int64
 14  number of motorist injured     891706 non-null  int64
 15  number of motorist killed      891706 non-null  int64
 16  contributing factor vehicle 1  891706 non-null  object
 17  contributing factor vehicle 2  891706 non-null  object
 18  collision_id                   891706 non-null  int64
 19  vehicle type code 1            891706 non-null  object
 20  vehicle type code 2            891706 non-null  object
dtypes: Int64(1), datetime64[ns](2), float64(4), int64(7), object(7)
memory usage: 150.5+ MB

In [25]:
df.isnull().sum()

crash date                            0
crash time                            0
borough                               0
zip code                         548733
latitude                              0
longitude                             0
on street name                        0
cross street name                     0
number of persons injured             0
number of persons killed              0
number of pedestrians injured         0
number of pedestrians killed          0
number of cyclist injured             0
number of cyclist killed              0
number of motorist injured            0
number of motorist killed             0
contributing factor vehicle 1         0
contributing factor vehicle 2         0
collision_id                          0
vehicle type code 1                   0
vehicle type code 2                   0
dtype: int64

In [26]:
df.drop('zip code',axis=1,inplace=True)

In [27]:
df.isnull().sum()

crash date                       0
crash time                       0
borough                          0
latitude                         0
longitude                        0
on street name                   0
cross street name                0
number of persons injured        0
number of persons killed         0
number of pedestrians injured    0
number of pedestrians killed     0
number of cyclist injured        0
number of cyclist killed         0
number of motorist injured       0
number of motorist killed        0
contributing factor vehicle 1    0
contributing factor vehicle 2    0
collision_id                     0
vehicle type code 1              0
vehicle type code 2              0
dtype: int64

In [28]:
duplicates=df.duplicated(subset=['collision_id'],keep=False)
print(df[duplicates])

Empty DataFrame
Columns: [crash date, crash time, borough, latitude, longitude, on street name, cross street name, number of persons injured, number of persons killed, number of pedestrians injured, number of pedestrians killed, number of cyclist injured, number of cyclist killed, number of motorist injured, number of motorist killed, contributing factor vehicle 1, contributing factor vehicle 2, collision_id, vehicle type code 1, vehicle type code 2]
Index: []

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 891706 entries, 9 to 2076250
Data columns (total 20 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   crash date                     891706 non-null  datetime64[ns]
 1   crash time                     891706 non-null  datetime64[ns]
 2   borough                        891706 non-null  object
 3   latitude                       891706 non-null  float64
 4   longitude                      891706 non-null  float64
 5   on street name                 891706 non-null  object
 6   cross street name              891706 non-null  object
 7   number of persons injured      891706 non-null  float64
 8   number of persons killed       891706 non-null  float64
 9   number of pedestrians injured  891706 non-null  int64
 10  number of pedestrians killed   891706 non-null  int64
 11  number of cyclist injured      891706 non-null  int64
 12  number of cyclist killed       891706 non-null  int64
 13  number of motorist injured     891706 non-null  int64
 14  number of motorist killed      891706 non-null  int64
 15  contributing factor vehicle 1  891706 non-null  object
 16  contributing factor vehicle 2  891706 non-null  object
 17  collision_id                   891706 non-null  int64
 18  vehicle type code 1            891706 non-null  object
 19  vehicle type code 2            891706 non-null  object
dtypes: datetime64[ns](2), float64(4), int64(7), object(7)
memory usage: 142.9+ MB

In [30]:
df['number of persons injured'] = df['number of persons injured'].astype(int)
df['number of persons killed'] = df['number of persons killed'].astype(int)

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 891706 entries, 9 to 2076250
Data columns (total 20 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   crash date                     891706 non-null  datetime64[ns]
 1   crash time                     891706 non-null  datetime64[ns]
 2   borough                        891706 non-null  object
 3   latitude                       891706 non-null  float64
 4   longitude                      891706 non-null  float64
 5   on street name                 891706 non-null  object
 6   cross street name              891706 non-null  object
 7   number of persons injured      891706 non-null  int64
 8   number of persons killed       891706 non-null  int64
 9   number of pedestrians injured  891706 non-null  int64
 10  number of pedestrians killed   891706 non-null  int64
 11  number of cyclist injured      891706 non-null  int64
 12  number of cyclist killed       891706 non-null  int64
 13  number of motorist injured     891706 non-null  int64
 14  number of motorist killed      891706 non-null  int64
 15  contributing factor vehicle 1  891706 non-null  object
 16  contributing factor vehicle 2  891706 non-null  object
 17  collision_id                   891706 non-null  int64
 18  vehicle type code 1            891706 non-null  object
 19  vehicle type code 2            891706 non-null  object
dtypes: datetime64[ns](2), float64(2), int64(9), object(7)
memory usage: 142.9+ MB

In [32]:
df['borough'].unique()

array(['MANHATTAN', 'QUEENS', 'BRONX', 'STATEN ISLAND', 'BROOKLYN'],
      dtype=object)

In [33]:
df['borough'] = df['borough'].apply(lambda x: x.lower().capitalize())
df['borough'].unique()

array(['Manhattan', 'Queens', 'Bronx', 'Staten island', 'Brooklyn'],
      dtype=object)

In [34]:
w=5
df["Severity_score"] = df["number of persons injured"] + w * df["number of persons killed"]

In [35]:
df.head()

,crash date,crash time,borough,latitude,longitude,on street name,cross street name,number of persons injured,number of persons killed,number of pedestrians injured,...,number of cyclist injured,number of cyclist killed,number of motorist injured,number of motorist killed,contributing factor vehicle 1,contributing factor vehicle 2,collision_id,vehicle type code 1,vehicle type code 2,Severity_score
9,2021-12-14,1900-01-01 14:58:00,Manhattan,40.751440,-73.973970,3 AVENUE,EAST 43 STREET,0,0,0,...,0,0,0,0,Passing Too Closely,Unspecified,4486519,Sedan,Station Wagon/Sport Utility Vehicle,0
11,2021-12-14,1900-01-01 16:50:00,Queens,40.675884,-73.755770,SPRINGFIELD BOULEVARD,EAST GATE PLAZA,0,0,0,...,0,0,0,0,Turning Improperly,Unspecified,4487127,Sedan,Station Wagon/Sport Utility Vehicle,0
14,2021-12-14,1900-01-01 23:10:00,Queens,40.666840,-73.789410,NORTH CONDUIT AVENUE,150 STREET,2,0,0,...,0,0,2,0,Reaction to Uninvolved Vehicle,Unspecified,4486635,Sedan,Sedan,2
18,2021-12-11,1900-01-01 19:43:00,Bronx,40.872620,-73.904686,WEST KINGSBRIDGE ROAD,HEATH AVENUE,1,0,0,...,0,0,1,0,Unspecified,Unspecified,4487040,Station Wagon/Sport Utility Vehicle,Sedan,1
24,2021-12-13,1900-01-01 17:40:00,Staten island,40.631650,-74.087620,VICTORY BOULEVARD,WOODSTOCK AVENUE,1,0,0,...,0,0,1,0,Unspecified,Unspecified,4487001,Sedan,Sedan,1

In [36]:
df.isnull().sum()

crash date                       0
crash time                       0
borough                          0
latitude                         0
longitude                        0
on street name                   0
cross street name                0
number of persons injured        0
number of persons killed         0
number of pedestrians injured    0
number of pedestrians killed     0
number of cyclist injured        0
number of cyclist killed         0
number of motorist injured       0
number of motorist killed        0
contributing factor vehicle 1    0
contributing factor vehicle 2    0
collision_id                     0
vehicle type code 1              0
vehicle type code 2              0
Severity_score                   0
dtype: int64

In [39]:
unique_on_streets = df['on street name'].value_counts().iloc[:10].index
print(unique_on_streets)

Index(['BROADWAY                        ', 'ATLANTIC AVENUE                 ',
       '3 AVENUE                        ', 'NORTHERN BOULEVARD              ',
       '2 AVENUE                        ', 'LINDEN BOULEVARD                ',
       'QUEENS BOULEVARD                ', 'FLATBUSH AVENUE                 ',
       '5 AVENUE                        ', '10 AVENUE                       '],
      dtype='object', name='on street name')

In [40]:
unique_cross_streetss = df['cross street name'].value_counts().iloc[:10].index
print(unique_cross_streetss)

Index(['3 AVENUE                        ', 'BROADWAY                        ',
       '2 AVENUE                        ', '5 AVENUE                        ',
       '8 AVENUE                        ', '7 AVENUE                        ',
       '3 AVENUE', '1 AVENUE                        ', 'BROADWAY',
       'PARK AVENUE                     '],
      dtype='object', name='cross street name')

In [41]:
import re

In [42]:
unique_on_streets = df['on street name'].value_counts().iloc[:10].index

cleaned_on_streets = [re.sub(r'\s{2,}', ' ', street).strip() for street in unique_on_streets if isinstance(street, str)]

print("Cleaned cross street names:")
print(cleaned_on_streets)

Cleaned cross street names:
['BROADWAY', 'ATLANTIC AVENUE', '3 AVENUE', 'NORTHERN BOULEVARD', '2 AVENUE', 'LINDEN BOULEVARD', 'QUEENS BOULEVARD', 'FLATBUSH AVENUE', '5 AVENUE', '10 AVENUE']

In [43]:
unique_cross_streets = df['cross street name'].value_counts().iloc[:10].index

cleaned_cross_streets = [re.sub(r'\s{2,}', ' ', street).strip() for street in unique_cross_streets if isinstance(street, str)]

print("Cleaned cross street names:")
print(cleaned_cross_streets)

Cleaned cross street names:
['3 AVENUE', 'BROADWAY', '2 AVENUE', '5 AVENUE', '8 AVENUE', '7 AVENUE', '3 AVENUE', '1 AVENUE', 'BROADWAY', 'PARK AVENUE']

In [ ]:
df['contributing factor vehicle 1'].replace('Unspecified', np.nan, inplace=True)
df = df.dropna(subset=['contributing factor vehicle 1'])

In [49]:
df['contributing factor vehicle 2'].replace('Unspecified', np.nan, inplace=True)
df = df.dropna(subset=['contributing factor vehicle 2'])

C:\Users\Amer\AppData\Local\Temp\ipykernel_13020\1298161836.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['contributing factor vehicle 2'].replace('Unspecified', np.nan, inplace=True)

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 142276 entries, 60 to 2076250
Data columns (total 21 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   crash date                     142276 non-null  datetime64[ns]
 1   crash time                     142276 non-null  datetime64[ns]
 2   borough                        142276 non-null  object
 3   latitude                       142276 non-null  float64
 4   longitude                      142276 non-null  float64
 5   on street name                 142276 non-null  object
 6   cross street name              142276 non-null  object
 7   number of persons injured      142276 non-null  int64
 8   number of persons killed       142276 non-null  int64
 9   number of pedestrians injured  142276 non-null  int64
 10  number of pedestrians killed   142276 non-null  int64
 11  number of cyclist injured      142276 non-null  int64
 12  number of cyclist killed       142276 non-null  int64
 13  number of motorist injured     142276 non-null  int64
 14  number of motorist killed      142276 non-null  int64
 15  contributing factor vehicle 1  142276 non-null  object
 16  contributing factor vehicle 2  142276 non-null  object
 17  collision_id                   142276 non-null  int64
 18  vehicle type code 1            142276 non-null  object
 19  vehicle type code 2            142276 non-null  object
 20  Severity_score                 142276 non-null  int64
dtypes: datetime64[ns](2), float64(2), int64(10), object(7)
memory usage: 23.9+ MB

In [53]:
df.to_csv('Cleaning_Crashes_Data.csv')