In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('cleaning.csv')
df

,Unnamed: 0,crash date,crash time,borough,latitude,longitude,on street name,cross street name,number of persons injured,number of persons killed,...,number of pedestrians killed,number of cyclist injured,number of cyclist killed,number of motorist injured,number of motorist killed,contributing factor vehicle 1,contributing factor vehicle 2,collision_id,vehicle type code 1,vehicle type code 2
0,9,2021-12-14 00:00:00,1900-01-01 14:58:00,Manhattan,40.751440,-73.973970,3 AVENUE,EAST 43 STREET,0,0,...,0,0,0,0,0,Passing Too Closely,Unspecified,4486519,Sedan,Station Wagon/Sport Utility Vehicle
1,11,2021-12-14 00:00:00,1900-01-01 16:50:00,Queens,40.675884,-73.755770,SPRINGFIELD BOULEVARD,EAST GATE PLAZA,0,0,...,0,0,0,0,0,Turning Improperly,Unspecified,4487127,Sedan,Station Wagon/Sport Utility Vehicle
2,14,2021-12-14 00:00:00,1900-01-01 23:10:00,Queens,40.666840,-73.789410,NORTH CONDUIT AVENUE,150 STREET,2,0,...,0,0,0,2,0,Reaction to Uninvolved Vehicle,Unspecified,4486635,Sedan,Sedan
3,18,2021-12-11 00:00:00,1900-01-01 19:43:00,Bronx,40.872620,-73.904686,WEST KINGSBRIDGE ROAD,HEATH AVENUE,1,0,...,0,0,0,1,0,Unspecified,Unspecified,4487040,Station Wagon/Sport Utility Vehicle,Sedan
4,24,2021-12-13 00:00:00,1900-01-01 17:40:00,Staten island,40.631650,-74.087620,VICTORY BOULEVARD,WOODSTOCK AVENUE,1,0,...,0,0,0,1,0,Unspecified,Unspecified,4487001,Sedan,Sedan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
891701,2076233,2024-03-25 00:00:00,1900-01-01 16:59:00,Brooklyn,40.691074,-73.908806,WILSON AVENUE,ELDERT STREET,1,0,...,0,0,0,1,0,Other Vehicular,Unspecified,4712600,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle
891702,2076236,2024-03-25 00:00:00,1900-01-01 21:20:00,Bronx,40.817245,-73.897800,BECK STREET,LONGWOOD AVENUE,3,0,...,0,0,0,3,0,Other Vehicular,Unspecified,4712697,Moped,Station Wagon/Sport Utility Vehicle
891703,2076240,2024-03-25 00:00:00,1900-01-01 12:08:00,Brooklyn,40.643894,-73.938260,ALBANY AVENUE,CLARENDON ROAD,1,0,...,0,0,0,1,0,Unspecified,Unspecified,4712770,Sedan,Sedan
891704,2076248,2024-03-25 00:00:00,1900-01-01 17:50:00,Brooklyn,40.658497,-73.904000,STONE AVENUE,LOTT AVENUE,0,0,...,0,0,0,0,0,Unspecified,Unspecified,4712873,Pick-up Truck,Sedan
891705,2076250,2024-03-25 00:00:00,1900-01-01 09:45:00,Brooklyn,40.682655,-73.910034,CHAUNCEY STREET,BROADWAY,0,0,...,0,0,0,0,0,Other Vehicular,Passing Too Closely,4712899,Sedan,Chassis Cab

In [3]:
import dash
from dash import Dash,html,dcc,callback
from dash.dependencies import Input,Output,State
import plotly.express as px
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
app =Dash()

app.layout = html.Div(children=[
    html.H1('Welcome', style={'text-align': 'center', 'color': 'blue'}),
    html.H3('Please choose your Borough'),
    dcc.Dropdown(id='in1',options=df.borough.unique(),value=''),

    dcc.Graph(id='out1', style={'width': '48%', 'display': 'inline-block'}),
    dcc.Graph(id='out2', style={'width': '48%', 'display': 'inline-block'}),
    dcc.Graph(id='out3', style={'width': '48%', 'display': 'inline-block'}),
    dcc.Graph(id='out4', style={'width': '48%', 'display': 'inline-block'}),
    dcc.Graph(id='out5', style={'width': '48%', 'display': 'inline-block'}),
    dcc.Graph(id='out6', style={'width': '48%', 'display': 'inline-block'}),
    dcc.Graph(id='out7', style={'width': '48%', 'display': 'inline-block'}),
    dcc.Graph(id='out8', style={'width': '48%', 'display': 'inline-block'})
])

@callback(
    [Output('out1', 'figure'),
     Output('out2', 'figure'),
     Output('out3', 'figure'),
     Output('out4', 'figure'),
     Output('out5', 'figure'),
     Output('out6', 'figure'),
     Output('out7', 'figure'),
     Output('out8', 'figure')],
     Input('in1', 'value')

)

def update_graph(value1):
    filtered_df = df[df['borough'] == value1]


    fig1 = px.bar(filtered_df, x='borough', y='number of persons injured',           
                title='Number of Persons Injured by Borough',
                color='number of persons injured', color_continuous_scale='RdYlBu')

    fig2 = px.bar(filtered_df, x='borough', y='number of persons killed',
                title='Number of Persons Killed by Borough',
                color='number of persons killed', color_continuous_scale='RdYlBu')

    fig3 = px.bar(filtered_df, x='borough', y='number of pedestrians injured',
                title='Number of Pedestrians Injured by Borough',
                color='number of pedestrians injured', color_continuous_scale='RdYlBu')

    fig4 = px.bar(filtered_df, x='borough', y='number of pedestrians killed',
                title='Number of Pedestrians killed by Borough',
                color='number of pedestrians killed', color_continuous_scale='RdYlBu')

    fig5 = px.bar(filtered_df, x='borough', y='number of cyclist injured',
                title='Number of Cyclist Injured by Borough',
                color='number of cyclist injured', color_continuous_scale='RdYlBu')

    fig6 = px.bar(filtered_df, x='borough', y='number of cyclist killed',
                title='Number of Cyclist killed by Borough',
                color='number of cyclist killed', color_continuous_scale='RdYlBu')

    fig7 = px.bar(filtered_df, x='borough', y='number of motorist injured',
                title='Number of Motorist Injured by Borough',
                color='number of motorist injured', color_continuous_scale='RdYlBu')

    fig8 = px.bar(filtered_df, x='borough', y='number of motorist killed',
                title='Number of Motorist Injured by Borough',
                color='number of motorist killed', color_continuous_scale='RdYlBu')
    
    return fig1, fig2, fig3, fig4, fig5, fig6, fig7, fig8
    
app.run(jupyter_mode='external')

Dash app running on http://127.0.0.1:8050/

In [5]:
import joblib

In [6]:
from sklearn.preprocessing import StandardScaler

In [8]:
sc_x = StandardScaler()
x_train = sc_x.fit_transform(x_train)
x_test = sc_x.fit_transform(y_test)

NameError: name 'x_train' is not defined