In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('cleaning.csv')
df

,Unnamed: 0,crash date,crash time,borough,latitude,longitude,on street name,cross street name,number of persons injured,number of persons killed,...,number of pedestrians killed,number of cyclist injured,number of cyclist killed,number of motorist injured,number of motorist killed,contributing factor vehicle 1,contributing factor vehicle 2,collision_id,vehicle type code 1,vehicle type code 2
0,9,2021-12-14 00:00:00,1900-01-01 14:58:00,Manhattan,40.751440,-73.973970,3 AVENUE,EAST 43 STREET,0,0,...,0,0,0,0,0,Passing Too Closely,Unspecified,4486519,Sedan,Station Wagon/Sport Utility Vehicle
1,11,2021-12-14 00:00:00,1900-01-01 16:50:00,Queens,40.675884,-73.755770,SPRINGFIELD BOULEVARD,EAST GATE PLAZA,0,0,...,0,0,0,0,0,Turning Improperly,Unspecified,4487127,Sedan,Station Wagon/Sport Utility Vehicle
2,14,2021-12-14 00:00:00,1900-01-01 23:10:00,Queens,40.666840,-73.789410,NORTH CONDUIT AVENUE,150 STREET,2,0,...,0,0,0,2,0,Reaction to Uninvolved Vehicle,Unspecified,4486635,Sedan,Sedan
3,18,2021-12-11 00:00:00,1900-01-01 19:43:00,Bronx,40.872620,-73.904686,WEST KINGSBRIDGE ROAD,HEATH AVENUE,1,0,...,0,0,0,1,0,Unspecified,Unspecified,4487040,Station Wagon/Sport Utility Vehicle,Sedan
4,24,2021-12-13 00:00:00,1900-01-01 17:40:00,Staten island,40.631650,-74.087620,VICTORY BOULEVARD,WOODSTOCK AVENUE,1,0,...,0,0,0,1,0,Unspecified,Unspecified,4487001,Sedan,Sedan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
891701,2076233,2024-03-25 00:00:00,1900-01-01 16:59:00,Brooklyn,40.691074,-73.908806,WILSON AVENUE,ELDERT STREET,1,0,...,0,0,0,1,0,Other Vehicular,Unspecified,4712600,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle
891702,2076236,2024-03-25 00:00:00,1900-01-01 21:20:00,Bronx,40.817245,-73.897800,BECK STREET,LONGWOOD AVENUE,3,0,...,0,0,0,3,0,Other Vehicular,Unspecified,4712697,Moped,Station Wagon/Sport Utility Vehicle
891703,2076240,2024-03-25 00:00:00,1900-01-01 12:08:00,Brooklyn,40.643894,-73.938260,ALBANY AVENUE,CLARENDON ROAD,1,0,...,0,0,0,1,0,Unspecified,Unspecified,4712770,Sedan,Sedan
891704,2076248,2024-03-25 00:00:00,1900-01-01 17:50:00,Brooklyn,40.658497,-73.904000,STONE AVENUE,LOTT AVENUE,0,0,...,0,0,0,0,0,Unspecified,Unspecified,4712873,Pick-up Truck,Sedan
891705,2076250,2024-03-25 00:00:00,1900-01-01 09:45:00,Brooklyn,40.682655,-73.910034,CHAUNCEY STREET,BROADWAY,0,0,...,0,0,0,0,0,Other Vehicular,Passing Too Closely,4712899,Sedan,Chassis Cab

In [3]:
df.head()

,Unnamed: 0,crash date,crash time,borough,latitude,longitude,on street name,cross street name,number of persons injured,number of persons killed,...,number of pedestrians killed,number of cyclist injured,number of cyclist killed,number of motorist injured,number of motorist killed,contributing factor vehicle 1,contributing factor vehicle 2,collision_id,vehicle type code 1,vehicle type code 2
0,9,2021-12-14 00:00:00,1900-01-01 14:58:00,Manhattan,40.751440,-73.973970,3 AVENUE,EAST 43 STREET,0,0,...,0,0,0,0,0,Passing Too Closely,Unspecified,4486519,Sedan,Station Wagon/Sport Utility Vehicle
1,11,2021-12-14 00:00:00,1900-01-01 16:50:00,Queens,40.675884,-73.755770,SPRINGFIELD BOULEVARD,EAST GATE PLAZA,0,0,...,0,0,0,0,0,Turning Improperly,Unspecified,4487127,Sedan,Station Wagon/Sport Utility Vehicle
2,14,2021-12-14 00:00:00,1900-01-01 23:10:00,Queens,40.666840,-73.789410,NORTH CONDUIT AVENUE,150 STREET,2,0,...,0,0,0,2,0,Reaction to Uninvolved Vehicle,Unspecified,4486635,Sedan,Sedan
3,18,2021-12-11 00:00:00,1900-01-01 19:43:00,Bronx,40.872620,-73.904686,WEST KINGSBRIDGE ROAD,HEATH AVENUE,1,0,...,0,0,0,1,0,Unspecified,Unspecified,4487040,Station Wagon/Sport Utility Vehicle,Sedan
4,24,2021-12-13 00:00:00,1900-01-01 17:40:00,Staten island,40.631650,-74.087620,VICTORY BOULEVARD,WOODSTOCK AVENUE,1,0,...,0,0,0,1,0,Unspecified,Unspecified,4487001,Sedan,Sedan

In [4]:
df.corr()

,Unnamed: 0,latitude,longitude,number of persons injured,number of persons killed,number of pedestrians injured,number of pedestrians killed,number of cyclist injured,number of cyclist killed,number of motorist injured,number of motorist killed,collision_id
Unnamed: 0,1.000000,0.042909,-0.044891,-0.062188,-0.004718,0.007383,0.000655,-0.031374,-0.004030,-0.054741,-0.003929,-0.717713
latitude,0.042909,1.000000,-0.998018,-0.012941,0.000004,0.000616,0.000439,-0.006430,0.000479,-0.010521,-0.000536,-0.040227
longitude,-0.044891,-0.998018,1.000000,0.013068,-0.000086,-0.000499,-0.000409,0.005479,-0.000533,0.010894,0.000466,0.041874
number of persons injured,-0.062188,-0.012941,0.013068,1.000000,0.030936,0.117885,0.024733,0.199188,0.000061,0.957145,0.026660,0.099910
number of persons killed,-0.004718,0.000004,-0.000086,0.030936,1.000000,0.068910,0.492133,-0.001584,0.442071,0.025591,0.763813,0.008356
number of pedestrians injured,0.007383,0.000616,-0.000499,0.117885,0.068910,1.000000,0.117694,-0.002158,0.017829,0.023603,0.012420,-0.005698
number of pedestrians killed,0.000655,0.000439,-0.000409,0.024733,0.492133,0.117694,1.000000,0.002023,0.084955,0.013366,0.017288,0.000647
number of cyclist injured,-0.031374,-0.006430,0.005479,0.199188,-0.001584,-0.002158,0.002023,1.000000,0.001554,-0.060972,-0.003926,0.048428
number of cyclist killed,-0.004030,0.000479,-0.000533,0.000061,0.442071,0.017829,0.084955,0.001554,1.000000,-0.002041,-0.000257,0.005465
number of motorist injured,-0.054741,-0.010521,0.010894,0.957145,0.025591,0.023603,0.013366,-0.060972,-0.002041,1.000000,0.027350,0.084153
number of motorist killed,-0.003929,-0.000536,0.000466,0.026660,0.763813,0.012420,0.017288,-0.003926,-0.000257,0.027350,1.000000,0.006579
collision_id,-0.717713,-0.040227,0.041874,0.099910,0.008356,-0.005698,0.000647,0.048428,0.005465,0.084153,0.006579,1.000000

In [5]:
df.columns

Index(['Unnamed: 0', 'crash date', 'crash time', 'borough', 'latitude',
       'longitude', 'on street name', 'cross street name',
       'number of persons injured', 'number of persons killed',
       'number of pedestrians injured', 'number of pedestrians killed',
       'number of cyclist injured', 'number of cyclist killed',
       'number of motorist injured', 'number of motorist killed',
       'contributing factor vehicle 1', 'contributing factor vehicle 2',
       'collision_id', 'vehicle type code 1', 'vehicle type code 2'],
      dtype='object')

In [6]:
df.drop('Unnamed: 0',axis=1,inplace=True)

In [7]:
df.head()

,crash date,crash time,borough,latitude,longitude,on street name,cross street name,number of persons injured,number of persons killed,number of pedestrians injured,number of pedestrians killed,number of cyclist injured,number of cyclist killed,number of motorist injured,number of motorist killed,contributing factor vehicle 1,contributing factor vehicle 2,collision_id,vehicle type code 1,vehicle type code 2
0,2021-12-14 00:00:00,1900-01-01 14:58:00,Manhattan,40.751440,-73.973970,3 AVENUE,EAST 43 STREET,0,0,0,0,0,0,0,0,Passing Too Closely,Unspecified,4486519,Sedan,Station Wagon/Sport Utility Vehicle
1,2021-12-14 00:00:00,1900-01-01 16:50:00,Queens,40.675884,-73.755770,SPRINGFIELD BOULEVARD,EAST GATE PLAZA,0,0,0,0,0,0,0,0,Turning Improperly,Unspecified,4487127,Sedan,Station Wagon/Sport Utility Vehicle
2,2021-12-14 00:00:00,1900-01-01 23:10:00,Queens,40.666840,-73.789410,NORTH CONDUIT AVENUE,150 STREET,2,0,0,0,0,0,2,0,Reaction to Uninvolved Vehicle,Unspecified,4486635,Sedan,Sedan
3,2021-12-11 00:00:00,1900-01-01 19:43:00,Bronx,40.872620,-73.904686,WEST KINGSBRIDGE ROAD,HEATH AVENUE,1,0,0,0,0,0,1,0,Unspecified,Unspecified,4487040,Station Wagon/Sport Utility Vehicle,Sedan
4,2021-12-13 00:00:00,1900-01-01 17:40:00,Staten island,40.631650,-74.087620,VICTORY BOULEVARD,WOODSTOCK AVENUE,1,0,0,0,0,0,1,0,Unspecified,Unspecified,4487001,Sedan,Sedan

In [8]:
df.corr()

,latitude,longitude,number of persons injured,number of persons killed,number of pedestrians injured,number of pedestrians killed,number of cyclist injured,number of cyclist killed,number of motorist injured,number of motorist killed,collision_id
latitude,1.000000,-0.998018,-0.012941,0.000004,0.000616,0.000439,-0.006430,0.000479,-0.010521,-0.000536,-0.040227
longitude,-0.998018,1.000000,0.013068,-0.000086,-0.000499,-0.000409,0.005479,-0.000533,0.010894,0.000466,0.041874
number of persons injured,-0.012941,0.013068,1.000000,0.030936,0.117885,0.024733,0.199188,0.000061,0.957145,0.026660,0.099910
number of persons killed,0.000004,-0.000086,0.030936,1.000000,0.068910,0.492133,-0.001584,0.442071,0.025591,0.763813,0.008356
number of pedestrians injured,0.000616,-0.000499,0.117885,0.068910,1.000000,0.117694,-0.002158,0.017829,0.023603,0.012420,-0.005698
number of pedestrians killed,0.000439,-0.000409,0.024733,0.492133,0.117694,1.000000,0.002023,0.084955,0.013366,0.017288,0.000647
number of cyclist injured,-0.006430,0.005479,0.199188,-0.001584,-0.002158,0.002023,1.000000,0.001554,-0.060972,-0.003926,0.048428
number of cyclist killed,0.000479,-0.000533,0.000061,0.442071,0.017829,0.084955,0.001554,1.000000,-0.002041,-0.000257,0.005465
number of motorist injured,-0.010521,0.010894,0.957145,0.025591,0.023603,0.013366,-0.060972,-0.002041,1.000000,0.027350,0.084153
number of motorist killed,-0.000536,0.000466,0.026660,0.763813,0.012420,0.017288,-0.003926,-0.000257,0.027350,1.000000,0.006579
collision_id,-0.040227,0.041874,0.099910,0.008356,-0.005698,0.000647,0.048428,0.005465,0.084153,0.006579,1.000000

# EDA

In [9]:
import plotly.express as px
import matplotlib.pyplot as plt
import seaborn as sns

In [10]:
df.describe()

,latitude,longitude,number of persons injured,number of persons killed,number of pedestrians injured,number of pedestrians killed,number of cyclist injured,number of cyclist killed,number of motorist injured,number of motorist killed,collision_id
count,891706.000000,891706.000000,891706.000000,891706.000000,891706.000000,891706.000000,891706.000000,891706.000000,891706.000000,891706.000000,8.917060e+05
mean,40.657934,-73.807038,0.281133,0.000805,0.002999,0.000141,0.034950,0.000154,0.239467,0.000487,2.557628e+06
std,1.609523,2.919610,0.715464,0.030864,0.068466,0.013725,0.185645,0.012484,0.695808,0.023341,1.719334e+06
min,0.000000,-74.254960,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.200000e+01
25%,40.666910,-73.978030,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.945492e+05
50%,40.719395,-73.931508,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.313244e+06
75%,40.764736,-73.871001,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.940314e+06
max,40.912468,0.000000,43.000000,8.000000,15.000000,6.000000,4.000000,2.000000,43.000000,3.000000,4.713028e+06

# Feature Engineering& Data Preprocessing

In [11]:
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from datetime import datetime

In [12]:
X = df[['latitude', 'longitude', 'number of persons killed', 'number of pedestrians injured', 'number of pedestrians killed', 'number of cyclist injured', 'number of cyclist killed', 'number of motorist injured', 'number of motorist killed']]
y = df['number of persons injured']

# Train The Model

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [15]:
# Linear Regression

In [16]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [17]:
linear_model = LinearRegression()
linear_model.fit(X_train, y_train)

y_pred_linear = linear_model.predict(X_test)

print("Linear Regression MSE:", mean_squared_error(y_test, y_pred_linear))
print("Linear Regression R2:", r2_score(y_test, y_pred_linear))

Linear Regression MSE: 0.00412052810424518
Linear Regression R2: 0.9917472232381975

In [18]:
# Polynomial Regression

In [19]:
from sklearn.preprocessing import PolynomialFeatures

In [20]:
poly_features = PolynomialFeatures(degree=2)
X_train_poly = poly_features.fit_transform(X_train)
X_test_poly = poly_features.transform(X_test)

poly_model = LinearRegression()
poly_model.fit(X_train_poly, y_train)
poly_predictions = poly_model.predict(X_test_poly)

print("Polynomial Regression MSE:", mean_squared_error(y_test, poly_predictions))
print("Polynomial Regression R2:", r2_score(y_test, poly_predictions))

Polynomial Regression MSE: 0.004119683020545067
Polynomial Regression R2: 0.9917489158093791

In [21]:
# K-Nearest Neighbors (KNN)

In [22]:
from sklearn.neighbors import KNeighborsRegressor

In [23]:
knn_model = KNeighborsRegressor(n_neighbors=5)
knn_model.fit(X_train, y_train)
knn_predictions = knn_model.predict(X_test)

print("KNN Regression MSE:", mean_squared_error(y_test, knn_predictions))
print("KNN Regression R2:", r2_score(y_test, knn_predictions))

KNN Regression MSE: 0.004982785883302868
KNN Regression R2: 0.9900202550482805

In [24]:
# Decision Tree Regression

In [25]:
from sklearn.tree import DecisionTreeRegressor

In [26]:
dt_model = DecisionTreeRegressor(random_state=42)
dt_model.fit(X_train, y_train)
dt_predictions = dt_model.predict(X_test)

print("Decision Tree Regression MSE:", mean_squared_error(y_test, dt_predictions))
print("Decision Tree Regression R2:", r2_score(y_test, dt_predictions))

Decision Tree Regression MSE: 0.004917481514566558
Decision Tree Regression R2: 0.9901510495394517

# Save the Trained Models

In [27]:
import joblib

In [30]:
joblib.dump(linear_model, 'linear_model.pkl')
joblib.dump(poly_model, 'poly_model.pkl')
joblib.dump(knn_model, 'knn_model.pkl')
joblib.dump(dt_model, 'tree_model.pkl')

['tree_model.pkl']

In [32]:
joblib.dump(poly_features, 'poly_features.pkl')

['poly_features.pkl']